/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #333;
  height: 100%;
}
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  position: relative;
  width: 100%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.btn-lg {
  position: absolute;
  font-size: clamp(16px, 2vw, 24px);
  top: -60px; /* кнопка над доской */
  z-index: 9;
}

.square {
  position: relative;
  display: flex;
  flex: 1 0 12.5%;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.square::before {
  content: "";
}
.square-active::before {
  content: "";
  position: relative !important;
  height: 36% !important;
  width: 36% !important;
  border-radius: 50%;
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0.34) !important;
}
.square-attack::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.34);
  background-color: transparent;
  pointer-events: none;
  transition: all 0.3s ease;
}

.last-move::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle,
    rgba(205, 210, 106, 0.5) 0%,
    rgba(155, 199, 0, 0.35) 50%,
    transparent 100%
  );
  box-shadow: inset 0 0 0 2px rgba(205, 210, 106, 0.6);
  pointer-events: none;
  transition: all 0.3s ease;
}

.grabbed::before {
  content: "";
  height: 100%;
  width: 100%;
  border: 3px solid #444;
}

.black {
  background-color: #769656;
}
.white {
  background-color: #eeeed2;
}

.numeration {
  pointer-events: none;
  user-select: none;
  z-index: 5;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 5px;
}
.numeration span {
  height: calc(100% / 8); /* One piece on one square */
  align-items: flex-start;
}
.numeration span:nth-child(even) {
  color: #739552;
}
.numeration span:nth-child(odd) {
  color: #eeeed2;
}

.alphanumeric-numbering {
  pointer-events: none;
  user-select: none;
  z-index: 5;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  bottom: 0px;
  margin-bottom: 1%;
}
.alphanumeric-numbering span {
  width: calc(100% / 8);
  text-align: end;
  padding-right: 5px;
}
.alphanumeric-numbering span:nth-child(even) {
  color: #739552;
}
.alphanumeric-numbering span:nth-child(odd) {
  color: #eeeed2;
}

.piece-img {
  touch-action: none;
  z-index: 2;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10%;
  cursor: grab;
  transition: opacity 0.2s ease;
}

.piece-img:active {
  cursor: grabbing;
}

.king-hightlight {
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 0.7) 40%,
    rgba(255, 0, 0, 0.4) 70%
  );
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.3);
  border-radius: 50%;
}

.square.drag-over {
  box-shadow: inset 0 0 0 3px rgba(255, 255, 0, 0.5);
}

.parent-timer {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  gap: 25px;
}

.timer {
  font-size: 5vw;
  padding: 10px 5px;
  background-color: #444;
  color: #f5f5f5;
}

.modal {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  overflow: visible;
  outline: 0;
}

.modal-dialog {
  display: flex;
  align-items: center;
  height: 85%;
}

.promotion-window {
  position: absolute;
  z-index: 6;
  min-height: 50.3%;
  min-width: 12.5%;
  background: #fff;
}
.propotion-square {
  z-index: 2;
}
